@use "./functions.scss" as *;
@use "./mixins" as *;

// COLOR SWITCH SYSTEM

//primary switches
$text-color-accent: var(--clr-accent);
$text-color-accent-hot: var(--clr-accent-hot);
$bg-color: var(--clr-neutral);
$bg-color-inverse: var(--clr-dark);

@media (prefers-color-scheme: dark) {
  $bg-color: var(--clr-dark);
  $bg-color-inverse: var(--clr-neutral);
}

//layout switches
$heading-color: $bg-color;
$paragraph-color: $bg-color;

$home-span-color: $text-color-accent-hot;
$home-span-bg: $bg-color;

$about-section-color: $text-color-accent;

$project-text-color: $bg-color;
$project-bg-color: $bg-color-inverse;

$skills-color: $text-color-accent-hot;

//button switches
$button-text-color: $bg-color-inverse;
$button-bg-color: $bg-color;
$button-outline-color: $bg-color;
$button-text-hover-color: $text-color-accent-hot;

//link switches
$link-text-color: $bg-color-inverse;
$link-bg-color: $bg-color;
$link-outline-color: $bg-color;
$link-text-hover-color: $text-color-accent-hot;

//divider switches
$section-divider-color: var(--clr-accent);
$project-divider-color: var(--clr-accent-hot);

//scroll-bar switches
$scroll-bar-color: $bg-color;
$scroll-bar-bg-color: $bg-color-inverse;

$img-layer: 10;
$divider-layer: 9;
