@use "../scss-utils/mixins" as *;
@use "../scss-utils/variables" as *;

.about {
  position: relative;
  color: $about-section-color;
  width: 100%;
  @include mq(small) {
    width: 65%;
  }
  @include mq(medium) {
    width: 90%;
  }
  max-width: 65em;
  @include flex(column);
  gap: 0;
  @include mq(medium) {
    @include flex(row);
    gap: 3rem;
  }
  margin-inline: auto;
  .goku {
    position: absolute;
    width: 300px;
    top: -8rem;
    left: 50%;
    transform: translateX(-50%);
    @include mobile-only {
      width: 200px;
      top: -5rem;
    }
  }

  .about-heading {
    flex-basis: 60%;
    text-align: center;
    display: flow-root;

    .shape-outside {
      display: block;
      float: right;
      opacity: 0;
      margin-right: 10rem;
      shape-outside: linear-gradient(
        -135deg,
        rgb(77, 26, 103),
        transparent 80%,
        transparent
      );
      shape-image-threshold: 0.2;
    }
    @include mobile-only {
      .shape-outside {
        display: none;
      }
    }
    @include mq(small) {
      .shape-outside {
        margin-right: 10rem;
      }
    }
    @include mq(medium) {
      .shape-outside {
        margin-right: 0rem;
        width: 70px;
      }
    }
  }

  h2 {
    padding-block: 4rem;
    font-size: 4rem;
    @include mobile-only {
      padding-top: 8.5rem;
      padding-bottom: 1rem;
    }
  }
  span {
    font-size: 2.5rem;

    font-family: "Bangers", cursive;

    @include mobile-only {
      margin-inline: auto;
    }
    @include mq(medium) {
      float: right;
    }
  }
  p {
    padding: 2rem;
    padding-bottom: 0.5rem;

    line-height: 2;
    @include mobile-only {
      text-align: center;
    }
    @include mq(medium) {
      padding: 4rem;
      padding-bottom: 1rem;
    }
    flex-basis: 50%;
    //cta span
    a {
      all: unset;
      cursor: pointer;
      &:is(:hover, :focus) {
        color: $link-text-hover-color;
      }
      &:is(:focus-visible) {
        color: $link-text-hover-color;
        background-color: $bg-color-inverse;
        .cta {
          outline-offset: 5px;
          outline-color: $bg-color-inverse;
          outline-width: 0.3rem;
          outline-style: double;
        }
      }
    }

    .cta {
      width: 35%;
      text-align: center;
      margin-top: 1rem;
      padding-block: 0.3rem;
      padding-inline: 0.8rem;
      font-size: 1.5rem;
      @include mq(medium) {
        font-size: 2rem;
      }
      background-color: $bg-color-inverse;
    }
  }
}
