@use "../scss-utils/mixins" as *;
@use "../scss-utils/variables" as *;

// .about {
//   position: relative;
//   // @include flex-center(column);
//   @include mq(small) {
//     @include flex(row);
//     // gap: 2rem;
//   }

//   width: min(75%, 50rem);
//   @include mq(small) {
//     min-height: 25rem;
//   }

//   padding: 2rem;
//   margin: -3rem auto 6rem auto;
//   background-color: rgb(39, 38, 0);
//   border-radius: 3rem;

//   color: $heading-color;

//   &-heading {
//     display: flow-root;
//     h2 {
//       display: inline-block;
//     }

//     // @include flex-center(column);
//     // gap: 0.5rem;
//     // width: 50%;
//     // margin-inline: auto;
//     // margin-block: 2rem;
//     & > * {
//       // width: max-content;
//       font-family: "Cinzel Decorative", serif;
//     }
//   }
//   // h2 {
//   //   @include mobile-only {
//   //     align-self: flex-start;
//   //   }
//   // }
//   // span {
//   //   @include mobile-only {
//   //     align-self: flex-end;
//   //   }
//   // }
//   p {
//     width: 60%;
//     font-family: "Inknut Antiqua", serif;
//   }

//   @include mq(small) {
//     img {
//       position: absolute;
//       top: -9rem;
//       left: 30%;
//       width: 300px;
//       shape-outside: url("/assets/kid-goku-transparent.png");
//       // shape-margin: 2rem;
//     }
//   }
//   // goku
//   // img {
//   //   position: absolute;
//   //   z-index: $img-layer;
//   //   transform: scaleX(-1);
//   //   bottom: -6rem;

//   //   //avoid sidescrolling, while maintaining responsiveness
//   //   right: -1.8rem;
//   //   @include mq(small) {
//   //     width: 230px;
//   //     height: 230px;
//   //     right: -3.9rem;
//   //   }
//   //   @include mq(medium) {
//   //     width: 280px;
//   //     height: 280px;
//   //     right: -5.6rem;
//   //   }
//   //   @include mq(large) {
//   //     width: 350px;
//   //     height: 350px;
//   //     right: -8rem;
//   //   }
//   // }
.about {
  position: relative;
  color: $heading-color;
  @include flex(column);
  @include mq(medium) {
    @include flex(row);
  }
  width: 60%;
  background-color: aqua;
  margin-inline: auto;
  gap: 3rem;

  .goku {
    position: absolute;
    width: 300px;
    top: -8rem;
    left: 50%;
    transform: translateX(-50%);
  }
  p {
    padding: 4rem;
    flex-basis: 50%;
  }

  .section-divider {
    left: 50%;
    transform: translateX(-50%);
    bottom: -4rem;
    // @include mq(small) {
    //   width: 75%;
    // }
    // @include mq(medium) {
    //   width: 85%;
    //   bottom: -6rem;
    // }
  }
  .about-heading {
    flex-basis: 60%;

    display: flow-root;
    background-color: palevioletred;
    h2 {
      padding-block: 4rem;
      text-align: center;
      font-size: 2.5rem;
    }
    span {
      font-size: 1.5rem;
      font-family: "Cinzel Decorative";
      @include mq(medium) {
        float: right;
      }
      text-align: center;
    }
    // .shape-outside {
    //   display: none;
    // }
    // @include mq(medium) {
    .shape-outside {
      display: block;
      float: right;
      opacity: 0;
      margin-right: 0rem;
      width: 70px;
      shape-outside: linear-gradient(
        -135deg,
        rgb(77, 26, 103),
        transparent 80%,
        transparent
      );
      shape-image-threshold: 0.2;
      // }
    }
  }
}
