@use "../scss-utils/mixins" as *;
@use "../scss-utils/variables" as *;
footer {
  text-align: center;
  padding: 1rem;
  font-weight: 700;
  @include background-img("/assets/shenron.jpg", scroll);
  h2 {
    color: $heading-color;
  }

  h2::after {
    content: "";
    display: inline-block;
    background-image: url("/assets/db-7stars.png");
    border-radius: 50%;
    background-size: cover;
    width: 45px;
    height: 45px;
    margin-left: 1rem;
  }

  .copyright {
    font-family: "Bree Serif", serif;
  }
}

address {
  --svg-width: 50px;
  @include flex-center(column);
  padding: 1rem;
  height: 80%;
}

ul[role="list"] {
  @include flex-center(column, space-around);
  @include mq(medium) {
    @include flex-center(row, space-around);
    gap: 0;
  }
  gap: 6rem;
  width: min(100%, 65em);
  margin: 0;
  padding-block: 3rem;
  li {
    width: 55%;
    text-align: center;

    p {
      padding-block: 0.4em;
      padding-inline: 0.8rem;
      border-radius: 2rem;
      background-color: $link-bg-color;
    }
  }
  svg {
    width: var(--svg-width);
  }
}
