@use "../scss-utils/variables" as *;
@use "../scss-utils/mixins" as *;
header {
  height: 100vh;
  height: 100dvh;
  @include background-img("/assets/kame-house.jpg", scroll);
  position: relative;

  hgroup {
    position: absolute;
    bottom: 10%;
    @include mobile-only {
      top: 20%;
    }
    right: 0%;
    transform: translateX(-6%);
    max-width: 50rem;
    @include flex(column);
  }

  h1 {
    color: $heading-color;
    align-self: flex-start;
    font-size: 3.5rem;
    font-weight: 900;

    @include mobile-only {
      font-size: 3rem;
    }
  }

  span {
    color: $home-span-color;
    background-color: $home-span-bg;
    padding: 0.5rem;
    border-radius: 1rem;
    align-self: flex-end;
    font-size: 2rem;
    @include mobile-only {
      font-size: 1.5rem;
    }
    font-weight: 900;
    font-family: "Fredoka One", cursive;
    letter-spacing: 0.1ch;
  }
}
