@use "../scss-utils/variables" as *;
@use "../scss-utils/mixins" as *;
.skills {
  @include flex-center(column);
  position: relative;
  padding-block: 1.5rem;
  color: $bg-color-inverse;
  background-color: $bg-color;

  h2::after {
    content: "";
    display: inline-block;
    background-image: url("/assets/db-6stars.png");
    border-radius: 50%;
    background-size: cover;
    width: 45px;
    height: 45px;
    margin-left: 1rem;
  }
  //goku on cloud
  img {
    width: 120px;
    position: absolute;
    right: 8%;
    top: -7rem;
    @include mq(small) {
      width: 250px;
    }
  }

  .tagcloud {
    &--item {
      font-size: 0.8rem;
      @include mq(small) {
        font-size: 1.2rem;
      }
      @include mq(medium) {
        font-size: 1.5rem;
      }
      @include mq(large) {
        font-size: 1.75rem;
      }
      font-family: "Bree Serif", serif;
      font-weight: 700;
      color: $skills-color;
    }
  }
}
