@use "../scss-utils/variables" as *;

button {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
  font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  padding-inline: 1.5rem;
  padding-block: 0.4rem;
  margin-block: 0.8rem;
  color: $button-text;
  background-color: $button-bg;
  border: none;
  border-radius: 2rem;

  &:is(:hover, :focus) {
    color: $button-text-hover;
  }

  &:where(button, input):where(:not(:active)):focus-visible {
    outline-offset: 8px;
    outline-color: $button-bg-hover;
    outline-width: 0.2rem;
    outline-style: double;
  }

  cursor: pointer;
  //mobile settings
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
