@use "../scss-utils/variables" as *;
@use "../scss-utils/mixins" as *;

.section-divider {
  width: 65%;
  margin-inline: auto;
  margin-block: 2rem;
  height: 0.3rem;
  background-color: $section-divider-color;
  border-radius: 1rem;
}

.project-divider {
  width: 65%;
  height: 0.1rem;
  background-color: $project-divider-color;
  border-radius: 1rem;
  position: relative;
}

.project-divider::before {
  content: "";
  position: absolute;
  top: -3rem;
  right: -4rem;
  display: inline-block;
  background-image: url("/assets/db-2stars.png");
  border-radius: 50%;
  background-size: cover;
  width: 45px;
  height: 45px;
  margin-left: 1rem;
}

//goku on cloud sticker
@include mq(medium) {
  .project-divider:first-of-type:after {
    content: "";
    position: absolute;
    top: -9rem;
    right: -12rem;
    display: inline-block;
    background-image: url("/assets/goku-sticker.png");
    background-size: cover;
    width: 180px;
    height: 250px;
    margin-left: 1rem;
  }
}

.project-divider:nth-of-type(2n + 1)::before {
  top: 0;
  bottom: -3rem;
  left: -4rem;
}

.project-divider:nth-of-type(2)::before {
  background-image: url("/assets/db-3stars.png");
}
.project-divider:nth-of-type(3)::before {
  background-image: url("/assets/db-4stars.png");
}
.project-divider:nth-of-type(4)::before {
  background-image: url("/assets/db-5stars.png");
}
