@use "../scss-utils/variables" as *;
@use "../scss-utils/mixins" as *;
nav {
  position: absolute;
  right: 3rem;
  top: 1rem;
  @include mq(medium) {
    top: 3rem;
    right: 6rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @include flex-center(row);
    @include mq(medium) {
      @include flex-center(column);
    }
    gap: 1rem;

    a {
      color: $bg-color;
    }
  }
}
