@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Bree+Serif&family=Cinzel+Decorative:wght@900&family=Fredoka+One&display=swap");
$type-scale: (
  small: (
    300: 1rem,
    400: 1.125rem,
    500: 1.563rem,
    600: 1.953rem,
    700: 2.441rem,
    800: 3.052rem,
  ),
  large: (
    300: 1rem,
    400: 1.425rem,
    500: 2rem,
    600: 2.827rem,
    700: 4rem,
    800: 5.653rem,
  ),
);

//h2 fs 3rem on mobile
